<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Language" content="es"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block metas %}{% endblock %}
        <meta name="author" content="Frank">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
      
    </head>
    <body>
        {{ include("PanelBundle:panel:header.html.twig") }}
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}

    </body>
</html>
