{% block header %}
<header>
	<div class="header-top">
		<ul class="colHeader">
			<li>
				<div class="conteMenu"><span><img src="{{ asset('bundles/panel/images/btnMenul.png') }}"></span>Menu</div>
			</li>
			<li><a href="#" class="logo"><img src="{{ asset('bundles/panel/images/logo.png') }}"></a></li>
			<li></li>
			<div class="clear"></div>
		</ul>
	</div>
	<div class="header-bot">
		<ul class="colHeaderBot">
			<li>Sales: 800-417-5660	Service: 800-417-5731</li>
			<li>3300 Jamboree Road • Newport Beach, CA 92660</li>
			<div class="clear"></div>
		</ul>
	</div>
</header>
<div class="menuLateral" style="top: -100%;">
	<div class="cerrarMenu">
		<div class="padding">
			<i class="fa fa-times" aria-hidden="true"></i><span>Cerrar</span>
		</div>
	</div>
	<ul class="menu">
		<li class="menu_activo"><a href="#">inicio</a></li>
		<li>
			<a href="{{ path('panel_log_out') }}">Cerrar Sesión</a>
		</li>
	</ul>
</div>
{% endblock%}