{% block header %}
<header>
	<div class="header-top">
		<ul class="colHeader">
			<li>
				<div class="conteMenu"><span><img src="{{ asset('bundles/panel/images/btnMenul.png') }}"></span>Menu</div>
			</li>
			<li><a href="#" class="logo"><img src="{{ asset('bundles/panel/images/logo.png') }}"></a></li>
			<li></li>
			<div class="clear"></div>
		</ul>
	</div>
	<div class="header-bot">
		<ul class="colHeaderBot">
			<li>Sales: 800-417-5660	Service: 800-417-5731</li>
			<li>3300 Jamboree Road • Newport Beach, CA 92660</li>
			<div class="clear"></div>
		</ul>
	</div>
</header>
<div class="menuLateral" style="top: -100%;">
	<div class="cerrarMenu">
		<div class="padding">
			<i class="fa fa-times" aria-hidden="true"></i><span>Cerrar</span>
		</div>
	</div>
	<ul class="menu">
		<li class="menu_activo"><a href="inicio">inicio</a></li>
		<li>
			<a href="autos">autos</a>
			<ul class="submenu">
				<li><a href="autos-nuevos">buscar nuevos</a></li>
				<li><a href="autos-usados">buscar usados</a></li>
				<li><a href="javascript:void(0);">cotizar rápido</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void();">ofertas</a>
			<ul class="submenu">
				<li><a href="javascript:void(0);">de autos nuevos</a></li>
				<li><a href="javascript:void(0);">de autos usados</a></li>
				<li><a href="oferta-servicios">de servicios</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void();">finanzas</a>
			<ul class="submenu">
				<li><a href="financiamiento">financiamiento</a></li>
				<li><a href="comprar-arrendar">comprar o arrendar</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void();">devolución</a>
			<ul class="submenu">
				<li><a href="centro-entrega">centro de entrega de arrendamientos</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void();">servicio y partes</a>
			<ul class="submenu">
				<li><a href="solicitud-servicio">solicitud de servicio</a></li>
				<li><a href="almacen-llantas">almacén de llantas</a></li>
				<li><a href="solicitud-refacciones">solicitud de refacciones</a></li>
				<li><a href="accesorios">accesorios</a></li>
				<li><a href="oferta-servicios">ofertas de servicios</a></li>
				<li><a href="cambio-aceite">cambio de aceite</a></li>
				<li><a href="centro-llantas">centro de llantas</a></li>
				<li><a href="encuenta-servicio">encuesta de servicio</a></li>
				<li><a href="http://ca243.kiaaccessoryguide.com/" target="_blank">accesorios KIA</a></li>
				<li><a href="menus-mantenimiento">menús de mantenimiento</a></li>
				<li><a href="sobre-servicio">sobres el servicio</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void();">nosotros</a>
			<ul class="submenu">
				<li><a href="direccion-horarios">dirección y horarios</a></li>
				<li><a href="contactenos">contáctenos</a></li>
				<li><a href="encuesta-citio">encuesta del citio web</a></li>
				<li><a href="videos-kia">videos kia</a></li>
				<li><a href="garantia-kia">garantia kia</a></li>
				<li><a href="comentarios-clientes">comentarios de clientes</a></li>
				<li><a href="blog">blog</a></li>
			</ul>
		</li>
	</ul>
</div>
{% endblock%}